* {
    margin: 0;
    padding: 0;
}
div.author > h3 {
    color: white;
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: grid;
    grid-template-rows: 12% 78% 10%;
    height: 100%;
    width: 100%;
}
header {
    display: grid;
    grid-template-columns: 90% 10%;
    height: 100%;
    background-color: cornflowerblue;
    border-bottom: 2px solid maroon;
}
header > div.login_wrapper {
    display: grid;
    justify-self: center;
    align-self: center;
}
header > div.login_wrapper {
    justify-self: center;
    text-align: center;
}
div.login > a {
    text-decoration: none;
}
header div.login > a:hover {
    color: yellow;
}
footer {
    background-color: black;
    display: grid;
}
footer > div.site_info {
    margin: 0;
    padding: 10px;
    text-align: center;
}
footer div.site_info > p{
    color: white;
}
div.registration_users {
    display: grid;
    width: 30%;
    height: 95%;
    outline: 2px solid black;
    justify-self: center;
    align-self: center;
}
main {
    display: grid;
}
div.registration_users > form {
    grid-template-rows: 10% 90%;
    height: 100%;
    width: 100%;
}
div.hat{
    background-color: cornflowerblue;
    border-bottom: 2px solid maroon;
}
div.hat > h1 {
    text-align: center;
    color: white;
}
