*{
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: 12% 78% 10%;
    height: 100%;
    width: 100%;
}
header{
    display: grid;
    background-color: cornflowerblue;
    border-bottom: 2px solid maroon;
    grid-template-columns: 90% 10%;
}
div.authorization_command{
    display: grid;
    align-self: center;
}
div.login_or_register > a {
    text-decoration: none;
}
div.login_or_register > a:hover {
    color: yellow;
}
div.author_command > h1 {
    color: white;
}
main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: antiquewhite;
}
div.first_column {
    display: grid;
    height: 100%;
}
div.first_column > h3 {
    color: blue;
}
div.second_column {
    display: grid;
    height: 80%;
}
div.second_column > h3 {
    color: greenyellow;
}
div.third_column {
    display: grid;
    height: 60%;
}
div.third_column > h3{
    color: green;
}
div.fourth_column {
    display: grid;
    height: 80%;
}
div.fourth_column > h3.Synchronize {
    color: orange;
}
div.fourth_column > h3.Finally {
    color: red;
}
footer {
    display: grid;
    background-color: black;
}
footer > div.site_info_command {
    margin: 0;
    padding: 10px;
    text-align: center;
}
div.site_info_command > p {
    color: white;
}
