*{
    margin: 0;
    padding: 0;
}
div.author > h3{
    color: #ffffff;
}
html{
    width: 100%;
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: 12% 78% 10%;
    width: 100%;
    height: 100%;
}
header{
    display: grid;
    grid-template-columns: 90% 10%;
    height: 100%;
    background-color: cornflowerblue;
    border-bottom: 2px solid maroon;
}
header > div.login-wrapper{
    display: grid;
    justify-self: center;
    align-self: center;
}
header > div.login-wrapper{
    justify-self: center;
    text-align: center;
}
header div.login > a{
    text-decoration: none;
}
header div.login > a:hover{
    color: yellow;
}
footer{
    background-color: black;
    display: grid;
}
footer > div.site-info{
    margin: 0;
    padding: 10px;
    text-align: center;
}
div.authorization{
    width: 30%;
    height: 80%;
    align-self: center;
    outline: 2px solid;
}
footer > div.site-info > p {
    color: white;
}
main{
    display: grid;
}
main > div.authorization {
    display: grid;
    justify-self: center;
}
div.authorization > form{
    grid-template-rows: 10% 90%;
    height: 100%;
    width: 100%;
}
form > div.button {
    display: block;
    text-align: center;
}
form > div.login_authorization {
    margin-top: 30%;
    display: block;
    text-align: center;
}
form > div.top {
    background-color: darkturquoise;
    border-bottom: 2px solid maroon;
    text-align: center;
}
