* {
    margin: 0;
    padding: 0;
}
div.author > h3{
    color: white;
}
html{
    height: 100%;
    width: 100%;
}
body{
    display: grid;
    grid-template-rows: 12% 78% 10%;
    width: 100%;
    height: 100%;
}
header{
    display: grid;
    grid-template-columns: 90% 10%;
    height: 100%;
    background-color: cornflowerblue;
    border-bottom: 2px solid maroon;
}
header > div.login-wrapper{
    display: grid;
}
header > div.login-wrapper{
    justify-self: center;
    align-self: center;
}
header div.login > a:hover{
    color: yellow;
}
header div.login > a{
    text-decoration: none;
}
div.book{
    padding: 1rem;
    display: grid;
    grid-template-columns: 10% 90%;
}
div.image-book-wrapper{
    margin-right: 1rem;
}
div.image-book-wrapper > img{
    width: 100%;
    height: 100%;
}
p.book-name{
    margin-bottom: 1rem;
    font-weight: bolder;
}
p.book-description{
    text-indent: 1rem;
    text-align: justify;
}
footer{
    background-color: black;
    display: grid;
}
footer > div.site-info{
    margin: 0;
    padding: 10px;
    text-align: center;
}
footer > div.site-info > p {
    color: white;
}
div.info > div.readMore {
    display: grid;
}
div.info div.readMore > a {
    justify-self: right;
    text-decoration: none;
}
div.info div.readMore > a:hover {
    color: yellow;
}
